.txt02 {
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.txt03{
  color: #FFF; 
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.txt04{
  align-self: stretch;
  color: #FFF;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}