.navbar {
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .navbar:hover {
    padding: 12px 40px;
    gap: 60px;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.itme {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: all 0.3s ease;
}
.itme:hover {
  transform: scale(1.4);
}
.itme.active {
  transform: scale(1.2);
}
.text {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}