.navbar {
  cursor: pointer;
  transition: all 0.3s ease;
}
@media (min-width: 768px) {
  .navbar:hover {
    padding: 12px 40px;
    gap: 60px;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.itme {
  display: flex;
  align-items: center;
  gap: 2px;
  transition: all 0.3s ease;
}
.itme:hover {
  transform: scale(1.4);
}
.itme.active {
  transform: scale(1.2);
}
.text {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.itme2 {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.3s ease;
}
.itme2:hover {
  transform: scale(1.4);
}
.itme2.active {
  transform: scale(1.2);
}

.dashboard {
  animation: slideDown 0.5s ease forwards; 
  transform: translateY(-100%); 
  opacity: 0;
  border-radius: 20px;
  padding: 1rem 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  60% {
    transform: translateY(20%);
    opacity: 1;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
